/* Reset CSS */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Give full left and right margin to .service-section */
  .service-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0; /* Top and bottom margin */
    margin-left: auto; /* Margin right to full width */
    margin-right: auto; /* Margin left to full width */
    text-align: center;
    max-width: 600px;
  }
  
  /* Give full left and right margin to .opening-hours */
  .opening-hours {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0; /* Top and bottom margin */
    margin-left: auto; /* Margin right to full width */
    margin-right: auto; /* Margin left to full width */
    text-align: center;
    max-width: 600px;
  }
  
  /* Give full left and right margin to .haircut-booking */
  .haircut-booking {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0; /* Top and bottom margin */
    margin-left: auto; /* Margin right to full width */
    margin-right: auto; /* Margin left to full width */
    text-align: center;
    max-width: 600px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  /* Style for links */
  a {
    text-decoration: none;
    color: #0077FF;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }

  .button-container {
    text-align: center;
}

.animated-button {
    display: inline-block;
    font-size: 15px;
    padding: 10px 20px;
    border: outset;
    border-radius: 5px;
    background-color: #95795e;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.animated-button:hover {
    background-color: #755f4a;
    transform: scale(1.1);
}

footer {
    background-color: #3a2626;
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
  /* Add more CSS styles as needed for your specific design */
  